<div
  style="color: black; position: absolute; top: 63px; left: 12px; background: white; z-index: 10; padding: 10px; border-radius: 10px;  max-height: 70vh; overflow: auto;">
  <div style="width: 220px;">
    <div>
      <label style="margin-bottom: -5px">Informacja na główną stronę</label>
      <textarea matInput placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="2"
                [(ngModel)]="news.message"
                matAutosizeMaxRows="7"></textarea>
    </div>

    <div class="button-row" (click)="saveNews()">
      <button mat-raised-button  style="float: right; background: #50a3a2; color: white;">Zatwierdź</button>
    </div>
  </div>


</div>
