.ui-accordion .ui-accordion-content{
  /*background: #53e3a6;*/
}

.ng-tns-c6-1{
  background: #50a3a2;
  color: white;
}

p-header{
  color: white;
}

.ng-tns-c6-1{
  background: #50a3a2;
  color: white;
}

.ui-accordion-content.ui-widget-content.ng-tns-c6-1.ng-star-inserted{
  background: transparent;
}

.ui-accordion-content.ui-widget-content.ng-tns-c6-1.ng-star-inserted{
  background: transparent;
}


.ng-tns-c6-2{
  background: #50a3a2;
  color: white;
}

.ng-tns-c6-2{
  background: #50a3a2;
  color: white;
}

.ui-accordion-content.ui-widget-content.ng-tns-c6-2.ng-star-inserted{
  background: transparent;
}

.ui-accordion-content.ui-widget-content.ng-tns-c6-2.ng-star-inserted{
  background: transparent;
}
