<div  class="col333">
  <p-accordion>
    <p-accordionTab [selected]="true" >
      <p-header>
        Profil {{detail.name}} {{detail.lastname}}
      </p-header>
        <div class="" style="width: 100%;">
          <div class="card" style="background: white;">
            <div class="card-image waves-effect waves-block waves-light" style="background: white;">
              <img class="activator" src="{{detail.avatarPath}}">
            </div>
            <div class="card-content" style="background: white;">
              <span class="card-title activator grey-text text-darken-4" style="background: white;">{{detail.name}} {{detail.lastname}}<i class="material-icons right" style="background: white;">more_vert</i></span>
              <p><a style="background: white; width: 100%; display: block;">{{detail.position}}</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4" style="background: white;">O mnie<i class="material-icons right" style="background: white;">close</i></span>
              <p style="background: white;">{{detail.aboutPerson}}<br>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      </div>
    </p-accordionTab>

    <p-accordionTab >
      <p-header>
        Kontakt
      </p-header>
      <div class="" style="width: 100%;">
        <div class="card" style="background: white;">
          <div class="card-image waves-effect waves-block waves-light" style="background: white;">
            <img class="activator" src="assets/images/phone.jpg">
          </div>
          <div class="card-content" style="background: white;">
            <span class="card-title activator grey-text text-darken-4">Kontakty {{detail.name}} {{detail.lastname}}<i class="material-icons right" style="background: white;">more_vert</i></span>
            <mat-list>
              <mat-list-item *ngFor="let con of detailUserlistContact">
                <mat-icon mat-list-icon>phone</mat-icon>
                <h4 mat-line>{{con.contactValue}}</h4>
                <p mat-line> {{con.contactType}} </p>
                <mat-icon (click)="deleteContact(con.id)" style="float: right; cursor: pointer;">close</mat-icon>

              </mat-list-item>

              <mat-divider></mat-divider>
            </mat-list>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" style="background: white;">Dodaj kontakt
            <i class="material-icons right" (click)="saveNewContact()" style="background: white;">add_circle</i>
            <i class="material-icons right" style="background: white;">close</i>
            </span>
            <div>
              <label style="margin-bottom: -5px">Podaj kontakt</label>
              <input type="text"
                     matInput
                     [(ngModel)]="newContact.contactValue"
                     placeholder="role" style="width: 100%;">
            </div>
            <div>
              <label style="margin-bottom: -5px">Typ kontaktu</label>
              <input type="text"
                     matInput
                     [(ngModel)]="newContact.contactType"
                     placeholder="role" style="width: 100%;">
            </div>

          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

