<div
  style="position: absolute; top: 63px; left: 12px; background: #50a3a2; z-index: 10; padding: 10px; border-radius: 10px; color: white; max-height: 70vh; overflow: auto;">
  <div *ngFor="let person of listEmployee">
    <a [routerLink]="['/user', person.id]" (click)="closeList()">
      <button mat-menu-item>
        <img style="width: 25px; height: 25px; border-radius: 50%; float: left; margin-top: 10px; margin-right: 10px;"
             src="{{person.avatarPath}}"/>
        <span>{{person.name}} {{person.lastname}}</span>
      </button>
    </a>
  </div>
</div>
