<div
  style="color: black; position: absolute; top: 63px; left: 12px; background: white; z-index: 10; padding: 10px; border-radius: 10px;  max-height: 70vh; overflow: auto;">
  <div style="width: 220px;">
  <div>
    <label style="margin-bottom: -5px">name</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.name"
             placeholder="name" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">lastname</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.lastname"
             placeholder="lastname" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">position</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.position"
             placeholder="position" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">avatarPath</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.avatarPath"
             placeholder="avatarPath" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">cashPerHour</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.cashPerHour"
             placeholder="cashPerHour" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">login</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.login"
             placeholder="login" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">passwd</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.passwd"
             placeholder="passwd" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">aboutPerson</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.aboutPerson"
             placeholder="aboutPerson" style="width: 100%;">
  </div>
  <div>
    <label style="margin-bottom: -5px">role</label>
      <input type="text"
             matInput
             [(ngModel)]="newUser.role"
             placeholder="role" style="width: 100%;">
  </div>
    <div class="button-row">
      <button (click)="saveNewAccount()" mat-raised-button  style="float: right; background: #50a3a2; color: white;">Zatwierdź</button>
    </div>
  </div>


</div>
