<div
  style="color: black; position: absolute; top: 63px; left: 12px; background: white; z-index: 10; padding: 10px; border-radius: 10px;  max-height: 70vh; overflow: auto;">
  <div style="width: 220px;">
    <div>
      <label style="margin-bottom: -5px">Nazwa projektu</label>
      <input type="text"
             matInput
             [(ngModel)]="newProject.projectName"
             placeholder="name" style="width: 100%;">
    </div>
    <div>
      <label style="margin-bottom: -5px">Id pracownika</label>
      <input type="text"
             matInput
             [(ngModel)]="newProject.employeeId"
             placeholder="position" style="width: 100%;">
    </div>
    <div class="button-row">
      <button (click)="saveNewProject()" mat-raised-button  style="float: right; background: #50a3a2; color: white;">Zatwierdź</button>
    </div>
  </div>


</div>
