<div class="wrapper">
  <div class="container">
    <h1 class="access__high"><img class="access__logo" src="assets/images/logo.png" alt="logo "></h1>

    <form class="form">
      <input type="text" autocomplete="off" placeholder="Login" [(ngModel)]="user.login" name="login" style="color: white; background-color: #50a3a2; float: none; width: 50%; margin: 10px 25%;">
      <input type="password" autocomplete="off" placeholder="Hasło" [(ngModel)]="user.passwd" name="passwd" style="color: white; background-color: #50a3a2; float: none;  width: 50%; margin: 10px 25%;">
      <button (click)="login(user)" type="submit" id="login-button" style="margin-top: 20px;">Zaloguj</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
