<div  class="col333">
  <p-accordion>
    <p-accordionTab [selected]="true" >
      <p-header>
        Aktualne czynności
      </p-header>
      <div class="" style="width: 100%;">
        <div class="card" style="background: white;">
          <div class="card-image waves-effect waves-block waves-light" style="background: white;">
            <img class="activator" src="assets/images/work.jpg">
          </div>
          <div class="card-content" style="background: white;">
            <span class="card-title activator grey-text text-darken-4" style="background: white; margin-bottom: 20px;">Ostatnie aktywności:<i class="material-icons right" style="background: white;">more_vert</i></span>
            <!--<div style="border: 1px solid black; border-radius: 5px; padding: 15px 5px; margin-bottom: 25px; position: relative;" *ngFor="let news of listSortedNews.slice().reverse()" class="news__row">-->
            <div style="border: 1px solid black; border-radius: 5px; padding: 15px 5px; margin-bottom: 25px; position: relative;"
                 *ngFor="let task of currentWorktime.slice().reverse()" class="news__row">
              <div class="mid__owner">
                <img class="owner__img" src="assets/images/cup.png">
                <div class="owner__detail">
                  {{task.workDate | date: 'dd/MM/2018'}}r., Czas: {{task.startDate}} godz.
                </div>
              </div>
              {{task.task}}
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" style="background: white;">Dodaj kontakt
            <i class="material-icons right" style="background: white;" (click)="saveNewWork()">add_circle</i>
            <i class="material-icons right" style="background: white;">close</i>
            </span>
              <label style="margin-bottom: -5px">Data</label>
              <input [(ngModel)]="newWorktime.workDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            <div>
              <label style="margin-bottom: -5px">Task który został zrobiony:</label>
              <input type="text"
                     matInput
                     [(ngModel)]="newWorktime.task"
                     placeholder="role" style="width: 100%;">
            </div>
            <div>
              <label style="margin-bottom: -5px">Czas wykonania</label>
              <input type="number"
                     matInput
                     [(ngModel)]="newWorktime.startDate"
                     placeholder="role" style="width: 100%;">
            </div>

          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab >
      <p-header>
        Projekty
      </p-header>
      <div class="" style="width: 100%;">
        <div class="card" style="background: white;">
          <div class="card-image waves-effect waves-block waves-light" style="background: white;">
            <img class="activator" src="assets/images/project.jpg">
          </div>
          <div class="card-content" style="background: white;">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right" style="background: white;">more_vert</i></span>
            <mat-list style="width: 100%; float: none; clear: both;">
              <mat-list-item *ngFor="let proj of detailUserlistProject">
                <mat-icon mat-list-icon>lightbulb_outline</mat-icon>
                <h4 mat-line>{{proj.projectName}}</h4>
                <p mat-line> Członek zespołu </p>
                <!--<mat-icon style="float: right; cursor: pointer;">close</mat-icon>-->

              </mat-list-item>

              <mat-divider></mat-divider>
            </mat-list>
          </div>
          <!--<div class="card-reveal">-->
            <!--<span class="card-title grey-text text-darken-4" style="background: white;">Dodaj kontakt-->
            <!--<i class="material-icons right" style="background: white;">add_circle</i>-->
            <!--<i class="material-icons right" style="background: white;">close</i>-->
            <!--</span>-->
            <!--<div>-->
              <!--<label style="margin-bottom: -5px">Podaj kontakt</label>-->
              <!--<input type="text"-->
                     <!--matInput-->
                     <!--placeholder="role" style="width: 100%;">-->
            <!--</div>-->
            <!--<div>-->
              <!--<label style="margin-bottom: -5px">Typ kontaktu</label>-->
              <!--<input type="text"-->
                     <!--matInput-->
                     <!--placeholder="role" style="width: 100%;">-->
            <!--</div>-->

          <!--</div>-->
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

