<div  class="col333">
  <p-accordion>
    <p-accordionTab [selected]="true" >
      <p-header>
        Ważne informacje !
      </p-header>
      <div class="" style="width: 100%;">
        <div class="card" style="background: white;">
          <div class="card-image waves-effect waves-block waves-light" style="background: white;">
            <img class="activator" src="assets/images/news.png">
          </div>
          <div class="card-content" style="background: white;">
            <span class="card-title activator grey-text text-darken-4" style="background: white; margin-bottom: 20px;">Najnowsze informacje od:<i class="material-icons right" style="background: white;">more_vert</i></span>
            <div style="border: 1px solid black; border-radius: 5px; padding: 15px 5px; margin-bottom: 25px; position: relative;" *ngFor="let news of listSortedNews.slice().reverse()" class="news__row">
              <div class="mid__owner">
                <img class="owner__img" src="{{news.employee.avatarPath}}">
                <div class="owner__detail">
                  {{news.employee.name}} {{news.employee.lastname}}
                </div>
              </div>
              {{news.message}}
            </div>
          </div>
          <div class="card-reveal" style="opacity: 0.8;">
            <span class="card-title grey-text text-darken-4" style="background: white;">O mnie<i class="material-icons right" style="background: white;">close</i></span>
            <p style="background: white;">Here is some more information about this product that is only revealed once clicked on.<br></p>
          </div>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab >
      <p-header>
        Umiejętności
      </p-header>
      <div class="" style="width: 100%;">
        <div class="card" style="background: white;">
          <div class="card-image waves-effect waves-block waves-light" style="background: white;">
            <img class="activator" src="assets/images/skills.png">
          </div>
          <div class="card-content" style="background: white;">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right" style="background: white;">more_vert</i></span>
            <mat-list style="width: 100%; float: none; clear: both;">
              <mat-list-item *ngFor="let hobby of listHobby">
                <mat-icon mat-list-icon>lightbulb_outline</mat-icon>
                <h4 mat-line>{{hobby.skillName}}</h4>
                <p mat-line> {{hobby.description}} </p>
                <mat-icon (click)="deleteHobby(hobby.id)" style="float: right; cursor: pointer;">close</mat-icon>

              </mat-list-item>

              <mat-divider></mat-divider>
            </mat-list>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" style="background: white;">Dodaj Umiejętność
            <i class="material-icons right" style="background: white;" (click)="saveHobby()">add_circle</i>
            <i class="material-icons right" style="background: white;">close</i>
            </span>
            <div>
              <label style="margin-bottom: -5px">Nazwa umiejętności</label>
              <input type="text"
                     matInput
                     [(ngModel)]="newHobby.skillName"
                     placeholder="role" style="width: 100%;">
            </div>
            <div>
              <label style="margin-bottom: -5px">Krótki opis</label>
              <input type="text"
                     matInput
                     [(ngModel)]="newHobby.description"
                     placeholder="role" style="width: 100%;">
            </div>

          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

