::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(122,153,217)),
  color-stop(0.72, rgb(73,125,189)),
  color-stop(0.86, rgb(40, 83, 148)));
}

.owner__img{
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  top: -18px;
  left: 7px;
  box-sizing: border-box;
  background: lightblue;
}

.owner__detail{
  position: absolute;
  top: -17px;
  left: 40px;
  font-size: 13px;
}
