/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  margin: 0;
  background: rgba(165, 155, 239, 0.4);
}

.mat-toolbar {
  background: transparent;
  width: 100%;
}

.card-reveal {
  opacity: 0.85;
}

.col333 {
  width: 33.33%;
  float: left;
  padding: 5px 10px;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 824px) and ( min-width: 544px){
  .col333 {
    width: 50%;
  }
}

@media (max-width: 544px) and ( min-width: 1px){
  .col333 {
    width: 100%;
  }
}
