<div style="width: 100%; float: none; display: block; clear: both; height: 60px; margin-top: 5px;">
  <div (click)="showList = false; showRegister = false; showUpdate = false; showNews = false; showProject = false;"
       style="background: #50a3a2; height: 60px;  float: left; border-radius: 10px; cursor: pointer; margin-left: 13px; opacity: 0.9;"
       mat-icon-button [matMenuTriggerFor]="menu"><a class="left brand-logo"><img class="navbar__logo"
                                                                                  src="assets/images/logo.png"
                                                                                  alt="logo "></a>
    <mat-icon style="padding: 20px 30px 0 0; color: white;">more_vert</mat-icon>
  </div>
  <mat-menu #menu="matMenu">
    <button (click)="showList = !showList" mat-menu-item>
      <mat-icon><i class="material-icons">search</i></mat-icon>
      <span>Lista pracowników</span>
    </button>
    <button *ngIf="admin"  (click)="showRegister = !showRegister" mat-menu-item>
      <mat-icon><i class="material-icons">person_add</i></mat-icon>
      <span>Dodaj użytkownika</span>
    </button>
    <button  (click)="showUpdate = !showUpdate" mat-menu-item>
      <mat-icon><i class="material-icons">settings</i></mat-icon>
      <span>Edytuj profil</span>
    </button>
    <button *ngIf="admin"  (click)="showNews = !showNews" mat-menu-item>
      <mat-icon><i class="material-icons">message</i></mat-icon>
      <span>Wyślij wiadomość</span>
    </button>
    <button  *ngIf="admin" (click)="showProject = !showProject" mat-menu-item>
      <mat-icon><i class="material-icons">contacts</i></mat-icon>
      <span>Przydziel projekt</span>
    </button>
    <button [routerLink]="['/']" mat-menu-item>
      <mat-icon><i class="material-icons">power_settings_new</i></mat-icon>
      <span>Wyloguj</span>
    </button>
    <div style="text-align: left;">
      <a href="http://www.facebook.com/">
        <button style="width: 32%; display: inline-block;" mat-menu-item>
          <mat-icon><i class="fab fa-facebook"></i></mat-icon>
        </button>
      </a>
      <a href="http://www.github.com/">
        <button style="width: 32%; display: inline-block;" mat-menu-item>
          <mat-icon><i class="fab fa-github"></i></mat-icon>
        </button>
      </a>
      <a [routerLink]="['/main']">
        <button style="width: 32%; display: inline-block;" mat-menu-item>
          <mat-icon><i class="fas fa-home"></i></mat-icon>
        </button>
      </a>
    </div>
  </mat-menu>
</div>
<app-list *ngIf="showList == true"></app-list>
<app-register *ngIf="showRegister == true"></app-register>
<app-update *ngIf="showUpdate == true"></app-update>
<app-news *ngIf="showNews == true"></app-news>
<app-project *ngIf="showProject == true"></app-project>
