/*.mat-menu-panel.ng-trigger.ng-trigger-transformMenu.ng-tns-c5-0.ng-star-inserted.mat-elevation-z2.mat-menu-before.mat-menu-below{*/
  /*margin-top: 60px;*/
  /*border-radius: 10px;*/
/*}*/
/*.mat-menu-panel.ng-trigger.ng-trigger-transformMenu.ng-tns-c5-0.mat-elevation-z2.mat-menu-below.ng-star-inserted.mat-menu-after{*/
  /*margin-top: 60px;*/
  /*border-radius: 10px;*/
/*}*/


.mat-menu-panel{
  background: transparent;
}

.dark-primary-color {
  background: #388E3C;
}
.default-primary-color {
  background: #4CAF50;
}
.light-primary-color {
  background: #C8E6C9;
}
.text-primary-color {
  color: #FFFFFF;
}
.accent-color {
  background: #00BCD4;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #BDBDBD;
}
.navbar__logo {
  width: 150px;
  margin-top: 8px;
}
@media (max-width: 655px) and (min-width: 585px) {
  .navbar__logo {
    width: 100px;
  }
}
.navbar__top {
  position: relative;
  height: 60px;
}
.navbar__box {
  position: relative;
  height: 100%;
  width: 100%;
}
.navbar__right {
  float: right;
  padding: 15px 10px 0 0;
}
.navbar__title {
  float: left;
  padding-top: 13px;
  font-size: 30px;
  padding-left: 50px;
}
.navbar__menu {
  float: left;
  padding: 15px 0 0 5px;
}
.navbar__fa {
  padding-top: 16px;
  font-size: 34px;
}
.navbar__a {
  color: white;
}
.navbar__content {
  margin-top: 65px;
  position: absolute;
  right: 0;
  width: 40%;
  background: white;
  z-index: 6;
}
.navbar__btn {
  color: black;
  float: right;
}
.navbar__form {
  padding: 30px;
  max-height: 60vh;
  overflow: auto;
}
.navbar__btn {
  background: #4CAF50;
}
.nav__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
.navbar__welcome {
  float: left;
  padding-top: 8px;
}
@media (max-width: 655px) and (min-width: 585px) {
  .navbar__welcome {
    font-size: 14px;
    padding-top: 14px;
  }
}
@media (max-width: 585px) and (min-width: 1px) {
  .navbar__welcome {
    font-size: 12px;
    position: absolute;
    top: -3px;
    right: 5px;
  }
}
@media (max-width: 798px) and (min-width: 603px) {
  .navbar__content {
    width: 50%;
  }
  .navbar__form {
    max-height: 100vh;
    overflow: auto;
  }
}
@media (max-width: 603px) and (min-width: 1px) {
  .navbar__content {
    width: 100%;
  }
  .navbar__form {
    max-height: 100%;
    overflow: auto;
  }
}
@media (max-width: 585px) and (min-width: 1px) {
  .navbar__logo {
    width: 120px;
    margin-top: 15px;
  }
}
